
@{
    ViewBag.Title = "BrowseCars";
}

<h2>BrowseCars</h2>
<ul>
    <li> @Html.ActionLink("Home Page", "index") </li>
    <li> @Html.ActionLink("Browse cars", "BrowseCars") </li>
    <li> @Html.ActionLink("Rent a Car", "RentACar") </li>
    <li> @Html.ActionLink("About us", "AboutUs") </li>

</ul>

